### Import necesary libraries

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import os 
import sys 

# add the path to the module to the system path 
sys.path.insert(0, os.path.join('..', 'src'))

from data_preprocessing import CleanerData

#visual settings 
plt.style.use('seaborn-v0_8-whitegrid')

sns.set_palette('Set2')

### Import data

In [19]:
base_path = os.path.join('..', 'data', 'raw')
file_name = 'vehicles.csv'

path = os.path.join(base_path, file_name)

df = pd.read_csv(path)

df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

### Initial data exploration

In [20]:
print('Shape of the data:', df.shape)

Shape of the data: (426880, 26)

In [3]:
# info about data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [ ]:
#numeric statistics 
df.describe()

In [ ]:
# check for missing values 
df.isnull().sum()

In [ ]:
#check for duplicates 
df.duplicated().sum()

### Cleaning the data

In [21]:
# convert object columns to category 

for col in df.columns: 
    if df[col].dtype == 'object': 
        df[col] = df[col].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  category
 2   region        426880 non-null  category
 3   region_url    426880 non-null  category
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  category
 7   model         421603 non-null  category
 8   condition     252776 non-null  category
 9   cylinders     249202 non-null  category
 10  fuel          423867 non-null  category
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  category
 13  transmission  424324 non-null  category
 14  VIN           265838 non-null  category
 15  drive         296313 non-null  category
 16  size          120519 non-null  category
 17  type          334022 non-null  category
 18  paint_color   296677 non-null  category
 19  image_url     426812 non-null  category
 20  description   426810 non-null  category
 21  county        0 non-null       float64
 22  state         426880 non-null  category
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  category
dtypes: category(19), float64(5), int64(2)
memory usage: 95.2 MB

In [22]:
# check the max and min price of the cars

print(f"Max and min price of the cars: Max={df['price'].max()} - Min={df['price'].min()}" )
print("Shape of the data:", df.shape)

Max and min price of the cars: Max=3736928711 - Min=0
Shape of the data: (426880, 26)

In [24]:
# Cleaning the data, we will remove the outliers from the price column, and select only the cars with a price between 1000 and 100000

df = CleanerData.remove_outliers_with_min_max(df, 'price', 1000, 100000)

print(f"New max and min price of the cars: Max={df['price'].max()} - Min={df['price'].min()}" )
print("New shape of the data:", df.shape)

New max and min price of the cars: Max=100000 - Min=1000
New shape of the data: (379910, 26)

In [26]:
# Check the year of the cars, we will remove the outliers from the year column, and select only the cars with a year between 2000 and 2023 

#check nan values in the year column 
print("Nan values in the year column:", df['year'].isnull().sum())

Nan values in the year column: 1164

In [29]:
# Select only the cars with a year bigger than 2000 

df = CleanerData.remove_outliers_with_min_max(df, 'year', 2000, 2025)

print("Nan values in the year column:", df['year'].isnull().sum())
print("New shape of the data:", df.shape)

Nan values in the year column: 0
New shape of the data: (355127, 26)

In [28]:
# Convert the year column to int 
df['year'] = df['year'].astype('int')

df['year'].dtype

dtype('int64')

In [30]:
# The odometer column is important for the analyzis and sales, we will remove the outliers from the odometer column. 

# check nan values in the odometer column 
print("Nan values in the year column:", df['odometer'].isnull().sum())

Nan values in the year column: 1959

In [31]:
# Remove nan values from the odometer column 
df = df[df['odometer'].notna()]

print("Nan values in the odometer column:", df['odometer'].isnull().sum())
print("New shape of the data:", df.shape)

Nan values in the odometer column: 0
New shape of the data: (353168, 26)

In [36]:
#Check the max and min odometer of the cars 
print(f"Max and min odometer of the cars: Max={df['odometer'].max()} - Min={df['odometer'].min()}" )

Max and min odometer of the cars: Max=10000000.0 - Min=0.0

In [37]:
# check mean and median odometer of the cars 
print("Mean odometer of the cars:", df['odometer'].mean())
print("Median odometer of the cars:", df['odometer'].median())

Mean odometer of the cars: 94534.01353180356
Median odometer of the cars: 87000.0

In [39]:
# we'll check if other columns have Nan values 

print("Nan values in the data:", df.isnull().sum())

Nan values in the data: id                   0
url                  0
region               0
region_url           0
price                0
year                 0
manufacturer     10637
model             2946
condition       134999
cylinders       147019
fuel              2070
odometer             0
title_status      5956
transmission      1485
VIN             125722
drive           106647
size            256682
type             71759
paint_color      99831
image_url            0
description          2
county          353168
state                0
lat               3319
long              3319
posting_date         0
dtype: int64

In [41]:
# we still have a lot of columns with nan values, initially let's drop not important columns 
df = df.drop(columns=['id', 'url', 'region', 'region_url', 'image_url', 'description', 'county', 'state', 'posting_date', 'VIN'])

df.head()

KeyError: "['id', 'url', 'region', 'region_url', 'image_url', 'description', 'county', 'state', 'posting_date'] not found in axis"

In [ ]:
plt.figure(figsize=(12,6))
sns.histplot(df['price'], bins=80, kde=True)
plt.title('Distribution of Car Prices')
plt.xlabel('Price (USD)')
plt.ylabel('Frequency')
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.histplot(df['year'], bins=80, kde=True)
plt.title('Distribution of Car Years')
plt.xlabel('Year')
plt.ylabel('Quantity')
plt.xticks(rotation=45) 
plt.show()

In [ ]:
#Check the price mean by year 
df.groupby('year')['price'].mean().plot(kind='line', figsize=(12,6))
plt.title('Mean Price by Year') 
plt.xlabel('Year')
plt.ylabel('Mean Price (USD)') 
plt.grid(True)
plt.show()

- The graphic shows that the mean price of cars has been increasing over the years, which is expected as newer cars tend to be more expensive.

In [ ]:
#check the distribution of the car mileage 
df['odometer'].describe()

In [ ]:
#Check the max and min mileage of the cars 
df['odometer'].max(), df['odometer'].min()

In [ ]:
#Let's remove the outliers from the mileage column, we will select only the cars with a mileage between 10000 and 500000
df = df[(df['odometer'] > 10000) & (df['odometer'] < 500000)] 

df['odometer'].describe()

In [ ]:
#Let's see how the mileage affects the price of the cars.

df['odometer_bin'] = pd.cut(df['odometer'], bins=10, labels=False)

df.groupby('odometer_bin')['price'].mean().plot(kind='bar', figsize=(12,6))
plt.title('Mean Price by Mileage Bin')
plt.xlabel('Mileage Bin')
plt.ylabel('Mean Price (USD)')
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

In [ ]:
df['odometer_bin'].value_counts().sort_index()

In [ ]:
plt.figure(figsize=(14,6))
sns.boxplot(x='odometer_bin', y='price', data=df)
plt.title('Distribuição de Preços por Faixa de Quilometragem')
plt.xlabel('Faixa de Quilometragem')
plt.ylabel('Preço (USD)')
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

In [ ]:
df['manufacturer'].value_counts().head(10).plot(kind='bar', figsize=(12,6))
plt.title('Top 10 Car Manufacturers')
plt.xlabel('Manufacturer')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

In [ ]:
#visualize the mean price by main manufacturers
main_manufacturers = df['manufacturer'].value_counts().head(10).index.tolist() 

df_top = df[df['manufacturer'].isin(main_manufacturers)] 
df_top.groupby('manufacturer')['price'].mean().sort_values(ascending=False).plot(kind='bar', figsize=(12,6))
plt.title('Mean Price by Top Manufacturer')
plt.xlabel('Manufacturer')
plt.ylabel('Mean Price (USD)')
plt.xticks(rotation=45)
plt.grid(True)
plt.plot()

In [ ]:
#Check the condition of the cars 
df['condition'].value_counts().plot(kind='bar', figsize=(12,6))

In [ ]:
#Check relation between condition and price 
df.groupby('condition')['price'].mean().sort_values(ascending=False).plot(kind='bar', figsize=(12,6)) 
plt.title('Mean Price by Condition') 
plt.xlabel('Condition') 
plt.ylabel('Mean Price (USD)') 
plt.xticks(rotation=45) 
plt.grid(True) 
plt.show()

- The graphic below show that the condition of the car influences the price of the car, but not as much as the mileage and year.

In [ ]:
#Check the fuel 
df['fuel'].value_counts().plot(kind='bar', figsize=(12,6))
plt.title('Fuel Types Count')
plt.xlabel('Fuel Type')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

In [ ]:
df.groupby('fuel')['price'].mean().sort_values(ascending=False).plot(kind='bar', figsize=(12,6)) 
plt.title('Fuel Types Mean Price')
plt.xlabel('Fuel Type')
plt.ylabel('Mean Price (USD)')
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

In [ ]:
df.groupby('type')['price'].mean().sort_values(ascending=False).plot(kind='bar', figsize=(12,6))
plt.title('Car Type Mean Price')
plt.xlabel('Car Type')
plt.ylabel('Mean Price (USD)')
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

In [ ]:
df.corr

In [ ]:
df.dtypes

In [ ]:
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

df_numeric = df[numeric_cols] 

plt.figure(figsize=(12,8)) 
sns.heatmap(df_numeric.corr(), annot=True, cmap='coolwarm', fmt='.2f')
plt.title('Correlation Heatmap')
plt.show()